/*
|--------------------------------------------------------------------------|
|               custom styles yaf                       |
|--------------------------------------------------------------------------|
*/

#typed-text {
    display: inline !important;
    visibility: visible !important;
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* Optional: make it fit better on mobile */
@media (max-width: 768px) {
    .hero-text h3 {
        font-size: 18px;
    }
}

.site-header.small-height .primary-nav ul.primary-nav-list {
    transform: none !important;
    padding-right: 0;
}

.site-header.small-height .header-wrap {
    height: 75px; /* ensure header shrinks */
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically centers all children including nav */
}

.site-header.small-height .primary-nav .menu-item > a {
    height: 70px;  /* matches small header height */
    min-height: 70px;
}
