/*
|--------------------------------------------------------------------------|
|               custom styles yaf                       |
|--------------------------------------------------------------------------|
*/

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
