/*
|--------------------------------------------------------------------------|
|               custom styles yaf                       |
|--------------------------------------------------------------------------|
*/

#typed-text {
    display: inline !important;
    visibility: visible !important;
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* Optional: make it fit better on mobile */
@media (max-width: 768px) {
    .hero-text h3 {
        font-size: 18px;
    }
}


/*-------------------------------------------*/
/* Shrink Header on Scroll */
.site-header.small-height {
    background-color: #fff; /* white bar appears on scroll */
    height: 75px;            /* smaller height */
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2); /* subtle shadow */
}

.site-header.small-height .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically center logo and nav */
    height: 75px;        /* match small header */
}

/* Make menu visible on small header */
.site-header.small-height .primary-nav {
    position: relative;
    display: flex !important;
    align-items: center;
}

.site-header.small-height .primary-nav ul.primary-nav-list {
    display: flex !important;
    transform: none !important;
    padding-right: 0 !important;
}

.site-header.small-height .primary-nav .menu-item > a {
    height: 75px;     /* same as header */
    min-height: 75px;
    display: flex;
    align-items: center;
}

/* Optional: highlight active menu item */
.primary-nav-list .active > a,
.primary-nav-list .menu-item > a:hover {
    color: #e31919;
}
